{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block title %}Nuevo Libro{% endblock %}
  </head>
  <body>

    {% block Barra %}
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="#">Nuevo libro <span class="sr-only">(current)</span></a>
    </nav>
    {% endblock %}

    {% block Libro %}
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <form class="form" method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-outline-warning" type="submit" name="" value="Agregar">
          </form>
        </div>
      </div>
    {% endblock %}

  </body>
</html>
