{% extends "base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block title %}Eliminar Libro{% endblock %}
  </head>
  <body>
{% block Barra %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">Eliminar libro <span class="sr-only">(current)</span></a>
</nav>
{% endblock %}

{% block Libro %}
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <form class="" action="" method="post">{% csrf_token %}
        <p>Estas seguro que quieres eliminar "{{object}}""  ?</p>
        <input class="btn btn-danger" type="submit" name="" value="Confirmar">
      </form>
    </div>
  </div>
{% endblock %}
