{% extends "base.html"%}
{%block script%}
<script>

function getParameterByName(name, url) {
  if (!url) url = window.location.href;
  name = name.replace(/[\[\]]/g, "\\$&");
  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\+/g, " "));
}
$(document).ready(function(){

  console.log("working");
  var query = getParameterByName('q');
  console.log(query);
  var nextLibroUrl;

  function attachLibro(librosValue, prepend){
    var librosDateDisplay = librosValue.timesince;
    var librosContent = librosValue.Nombre;
    var librosUser = librosValue.user.username;
    var librosId = librosValue.id;
      if (prepend==true){
        $("#ajax_libros").prepend(
            "<h4>"+ librosContent + "</h4>" +
            "<div class='media'>"+
              "<div class='content'>"+
                "<p>"+
                  "<a class='alert alert-danger'href='/libros/detalle/"+librosId+"'/'>View</a> "+" | "+librosUser+ "&nbsp;"+ "|" +
                  librosDateDisplay+ " | "+
                "</p>"+
              "</div>"+
            "</div>"
        )
      }else{
        $("#ajax_libros").append(
            "<h4>"+ librosContent + "</h4>" +
            "<div class='media'>"+
              "<div class='content'>"+
                "<p>"+
                  "<a class='alert alert-danger' href='/libros/detalle/"+librosId+"'/'>Informacion</a> "+" | "+librosUser+ "&nbsp;"+ "|" +
                  librosDateDisplay+ " | " +"<a class='alert alert-danger' href='/libros/detalle/"+librosId+"/actualizar'>Actualizar</a> "+
                    " | " +"<a class='alert alert-danger' href='/libros/detalle/"+librosId+"/eliminar'>Eliminar</a> "+
                "</p>"+
              "</div>"+
            "</div>"
        )
      }
    }
    function fetchLibros(url){
      console.log("fetching...");
      var fetchUrl;
      if (!url){
        fetchUrl='/api/libros/?q=somequery';
      }else{
        fetchUrl=url
      }
      $.ajax({
        url: fetchUrl,
        data:{
          'q': query
        },
        method: "GET",
        success: function(data){
          console.log(data);
          nextLibroUrl = data.next;
          $.each(data.results, function(key, value){
            var librosKey = key;
            attachLibro(value);
          });
        },
        error: function(data){
          console.log("error");
          console.log(data);
        }
      });
    }

    fetchLibros();

    $("#loadmore").click(function(event){
      event.preventDefault();
      console.log("click me")
      if (nextLibroUrl){
        fetchLibros(nextLibroUrl);
      }
      // Cargar mas tweets
    })
  });

</script>
{%endblock script%}


{%block Libro%}
<div class="container">
     <header class="header clearfix">
       <nav>
         <ul class="nav nav-pills float-right">
           <li class="nav-item">
             <a class="nav-link active" href="/accounts/register/">Registrar<span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/Login/register">Login</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/accounts/register/">Salir</a>
           </li>
         </ul>
       </nav>
       <h3 class="text-muted">Libreria</h3>
     </header>
<!-- <a class="navbar-brand" href="accounts/profile/">lista de libros</a> -->
<div class="container">
  {% include "busquedas.html" %}
</div>
{%block content%}

{% if not request.GET.q %}
<div class="">

    <h1><div class="alert alert-success" role="alert">Lista de libros en existencia</h1>
    <h2>ingresa tu libro favorito</h2>
          {%include "form.html" with form=create_form action_url=create_url btn_title='Libro' form_id='libros-form'%}
</div>
{% endif %}
{%endblock%}
<article class="alert alert-success" id="ajax_libros">
</article>
<a href="#" id='loadmore'>Cargar mas libros</a>
{% for object in object_list %}

{% endfor %}
{%endblock%}
